*
{
    margin:0 auto;
    padding:0;
}

:root{
    --border:1px solid red;
    --mt:10px;
}

.row
{
    width:1200px;
    min-height: 600px;
    max-height: fit-content;
    border:var(--border);
    margin-top:var(--mt);
}

.solid_bg
{
    /* background-color: aquamarine; */
    /* background-color: #ede269; */
     /* background-color: rgb(20%,50%,40%); */
      background-color: rgb(200,150,100);
}

.multi_bg
{
    /* background:linear-gradient(red,green,orange,blue); */
    /* background:-webkit-linear-gradient(left,red,green,orange,blue); */
    /* background:-webkit-linear-gradient(50deg,red,green,orange,blue); */
     /* background:-webkit-linear-gradient(50deg,red 50%,green,orange,blue); */
     background:-webkit-radial-gradient(top left,red,green,orange,blue);
}

.img_bg
{
    background-image:url('https://files.idyllic.app/files/static/3857780?width=256&optimizer=image');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    /* background-size: cover; */
}

.img_color_bg
{
    background:red url('https://files.idyllic.app/files/static/3857780?width=256&optimizer=image');
    background-repeat: no-repeat;
    background-size: 50% 100%;
}


.abc
{
    width:500px;
    height: 300px;
   
    text-align: center;
    padding:20px;
    margin-top:50px;
    /* opacity: 0.5;
     background-color: orange; */
    background-color: rgba(255, 143, 32, 0.3);

}

