
*
{
    margin:0 auto;
    padding:0;
}

.page
{
    width:1200px;
    height: auto;
    border:1px solid red;
    display: grid;
    margin:0 auto;
    padding:0;
    grid-template-columns: 300px 300px 250px 350px;
    grid-template-rows: 60px 200px 400px 100px 500px 200px auto;
}
.page section
{
    border:1px solid green;
    padding:5px;
    margin:5px;
}
.page section:nth-child(1),.page section:nth-child(7),.page section:nth-child(8)
{
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: aquamarine;
}

.page section:nth-child(6)
{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(39, 238, 172);
}

.page section:nth-child(5)
{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: rgb(49, 149, 2);
}

.page section:nth-child(9)
{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(36, 38, 35);
}

.page section:nth-child(10)
{
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: rgb(23, 26, 21);
}

/* end of grid system---------------------------------- */

.navbar ul
{
    list-style-type: none;
}
.navbar ul li
{
    width:150px;
    height: 40px;
    /* border:1px solid red; */
    text-align: center;
    line-height: 40px;
    float:left;
    position: relative;
}
.navbar ul li ul li ul
{
    margin-left:150px;
}
.navbar a
{
    background:linear-gradient(rgb(246, 167, 20),rgb(79, 51, 0));
    color:white;
    text-decoration: none;
    width: 100%;
    height: 40px;
    float:left;
}
.navbar ul li ul li ul li a{
     background:linear-gradient(rgb(246, 20, 20),rgb(79, 0, 0));
}

.navbar ul li ul
{
    display: none;
}
.navbar ul li:hover ul
{
    display: block;
}

.navbar ul li:hover ul li ul
{
    display: none;
}
.navbar ul li ul li:hover ul
{
    display: block;
}