*
{
    margin:0 auto;
    padding:0;

}

.layout
{
    width:100%;
    min-height: 600px;
    border:1px solid red;
    box-sizing: border-box;
    display: flex;
}
.layout div
{
    flex:1;
    border:1px solid red;
    margin:5px;
    padding:5px;
}
.layout div:last-child
{
    flex:3;
}
#output
{
    border:1px solid blue;
    padding:10px;
}
fieldset
{
    padding:5px;
}

legend
{
    margin-left: 5px;
    padding:10px;
}
textarea,input
{
    padding:5px;
    width:100%;
    box-sizing: border-box;
}